<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/home.css">
    <title>AI Image Colorizer</title>

</head>
<body>
<section class="showcase">
    <header>
        <h1>
            <span class="logo">AI Image Colorizer</span><br/>
            <span class="bold">Image Colourization using Generative Adversial Networks</span>
        </h1>
        <div class="toggle"></div>
    </header>

    <div class="row">
        <div class="column">
            {% if msg %}
            <h3 class="header">{{ msg }}</h3>
            {% endif %}

            <form method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                {{ form.file }}
                <input type="submit" id="inputGroupFile02" class="submit-button">
                <!-- <a href = "#">UPLOAD</a> -->
            </form>
        </div>
        <!-- <div class="column" style="background-color: #bbb">Column</div> -->

        <div class="column2">
            <h2>About this project</h2>
            <P>1. The job of this project is to colorize Greyscale images. For this
                the image will be converted to greyscale and resized to 256*256 dimensions in order to
                feed in to the neural network
            </P>
            <P>2. For this project we have used a Deep Convolutional Generative Adversarial Networks(DCGAN)
                and Patch discriminator
            </P>
            <P>3. This neural nework is trained on around 50K images on COCO unlabeled 2017 dataset
            </P>
            <P>4. Try to feed/upload more general scenes with sky and trees for better results
            </P>


        </div>

    </div>
    <footer>
        <p>Computer Society of India,VIT Pune</p>
    </footer>
    <video src="static/video.mp4" muted loop autoplay></video>


</section>

</body>
</html>