<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/predict.css">
    <title>AI Image Colorizer</title>

</head>
<body>
<section class="showcase">
    <header>
        <h1>
            <span class="logo">AI Image Colorizer</span><br/>
            <span class="bold">Image Colourization using Generative Adversial Networks</span>
        </h1>
        <div class="toggle"></div>
    </header>

    {% if success == True %}
        <div class="pred-content">
            <div class="column">
                <div class="row">
                    <div class="pred-block">
                        <h1 class="pred-title">Your Greyscale Input</h1>
                        <img src="{{ image_path }}" alt="Greyscale Image" class="pred-img"/>
                    </div>
                    <div class="pred-block">
                        <h1 class="pred-title">Generated Coloured Output</h1>
                        <img src="{{ color_img }}" alt="Colored Image" class="pred-img"/>
                    </div>
                </div>
            </div>
        </div>


    {% else %}
        <div class="error-block">
            <h2 class="error-heading">OOPS! There was an error in processing your image. Please retry with another
                image.</h2>
            <h2 class="error-message">{{ response }}</h2>
        </div>


    {% endif %}



    <footer>
        <p>Computer Society of India,VIT Pune</p>

        <ul class="social">

        </ul>
    </footer>
    <video src="static/video.mp4" muted loop autoplay></video>


</section>

</body>
</html>